@tailwind base;
@tailwind components;
@tailwind utilities;

.active {
  background-color: #aa0000;
  color: #fff;
}

ul,
li {
  margin: 0;
  padding: 0;
}

span::first-letter {
  text-transform: capitalize;
}

.base-timeline {
  list-style-type: none;
  counter-reset: number;
  position: relative;
  display: block;
  z-index: 2;
  width: 90%;
  margin: 100px auto 0; /* change or remove*/
  color: #4f5d77;
}

.base-timeline::before {
  content: '';
  width: 100%;
  border-top: 3px solid #aa0000;
  display: inline-block;
  position: absolute;
  top: 50%;
  z-index: -1;
}

/* set width of time-line this can be px, percentage or other unit
3 is the number of list items minus 1 when using percentage
*/
.base-timeline__item {
  position: relative;
  display: inline-block;
  width: calc(100% / 7 - (-25px));
}

.base-timeline__item::before {
  display: flex;
  justify-content: center;
  align-items: center;
  counter-increment: number; /* number -1*/
  content: counter(number) '';
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: #aa0000;
  color: white;
  font-weight: bold;
  transition: all 0.6s ease-in-out;
  box-sizing: border-box;
}

.base-timeline__item:after {
  content: attr(data-text);
  display: inline-block;
  font-size: 0.8rem;
  font-weight: 300;
  text-align: center;
  position: absolute;
  transform: translateX(-135%);
  left: 50%;
  line-height: 1.2;
}

.base-timeline__item:last-child {
  width: 0;
}

/* summary text is optional and can be anything */

.base-timeline__summary-text {
  position: absolute;
  bottom: -2em;
  left: 5px;
}

@media screen and (max-width: 768px) {
  .base-timeline {
    margin-top: 50px;
    text-align: center;
  }
  .base-timeline::before {
    border: none;
  }
  .base-timeline__item {
    display: block;
    margin-bottom: 50px;
    width: 100%;
  }
  .base-timeline__item::before {
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    top: -15px;
  }
  .base-timeline__item:after {
    transform: translateX(0);
    position: relative;
    left: 0;
    margin-top: 10px;
  }
  .base-timeline__summary-text {
    position: static;
    margin-top: 20px;
  }
}
